


.Sidenav{

    @apply  w-[200px] py-1 h-screen bg-[#c2fbfb] dark:shadow-[0px_1px_3px_1px_#e0e1e1] dark:border-r-2 dark:border-r-gray-400 ;

    box-shadow: rgba(37, 37, 37, 0.26) 2px 4px 6px, rgba(37, 37, 37, 0.23) 2px 4px 6px;
    

}

.all_notes{

    @apply font-serif lg:text-[22px] text-center text-gray-400 dark:text-gray-400
}

.Side_text{

    @apply p-9
}



/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  margin-top: 45px;
  margin-left: 45px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  --background: hsl(0, 0%, 25%);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: .5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px rgb(255, 255, 255);
  background: var(--background);
  transition: .5s;
}

input:checked + .slider {
  background-color: hsl(0, 0%, 80%);
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px hsl(56, 100%, 73%);
}
