/* General container styles */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to left, rgb(255,230,250), #e8ffff,rgb(255,230,250), #e8ffff);
   
  }

  .w img{

    @apply w-[450px] h-[500px] absolute top-[34%] right-[26%] z-0 opacity-70
  }

  
  /* Login box */
  .login-box {
    width: 400px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    background-image: linear-gradient(-225deg, #E8FFFF 50%, #FFE6FA 50%);
    border: none;
    position: relative;
    box-shadow: 0px 2px 15px 1px hwb(0 61% 39%);
    border: solid 2px hwb(0 76% 24%);
    
    
  }

  .clip_path{

    clip-path: polygon(0 100%, 50% 90%, 100% 100%, 100% 100%, 0 100%);
    z-index: 100;
    height: 500px;
    width: 405px;
    background-color:#e8ffff;
    bottom: 0%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 2%;
    border: none;
    z-index: 10;
    
   

  }
  
  

  .login_back{

    @apply font-serif hover:text-blue-500;
    
    position: relative;
    z-index: 28;
    font-size: 30px;
    color: #37c632;
    top: 20%; 
    left: 37%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    
    
  }

  .login-box{

    @apply  z-10
  }

  .login-box{

    @apply p-[5.5%] lg:py-[1.7%] lg:px-[2%]
  }

  
  
  
  /* Title and subtitle */
  .login-title {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
    font-family:serif;
    color: hsl(0, 0%, 36%);
  }
  
  .login-subtitle {
    font-size: 0.875rem;
    color: hwb(0 32% 68%);
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  /* Input fields */
  .form-group {
    margin-bottom: 1rem;
  }
  
  .input-container {
    position: relative;
  }
  
  .input-icon {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    color: hsl(0, 0%, 64%);
  }
  
  .password-icon {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    color: rgb(149, 149, 149);
    cursor: pointer;
    
  }
  
  .login-input {
    width: 100%;
    padding: 0.5rem 0.75rem 0.5rem 2.5rem;
    border-radius: 6px;
    border: 1px solid rgb(213, 213, 213);
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 3%;
    color: rgb(79, 79, 79);
    font-weight: 500;
    font-size: 14px;
  }
  
  .login-input:focus {
    border-color: hsl(0, 0%, 69%);
    box-shadow: 0 0 0 4px rgba(192, 192, 192, 0.302);
  }
  
  /* Buttons */

  
  /* From Uiverse.io by BHARGAVPATEL1244 */ 
.login-button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 4.5px;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 600;
    font-size: 19px;
    border-radius: 5px;
    overflow: hidden;
    background: #89e3ba;
    color: rgb(253, 253, 253);
    width: 100%;
    margin-top: 15px;
   }
   
.login-button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
.login-button:hover span {
    color: black;
   }
   
.login-button::before,
.login-button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
.login-button::before {
    content: "";
    background:hwb(0 46% 54%);
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
.login-button:hover::before {
    transform: translate3d(100%, 0, 0);
   }
   
  
  
  .signup-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: #96eb96;
    color: rgb(0, 0, 0);
    padding: 6px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size:16px;
  }
  
  .signup-button {
    @apply active:scale-[1.1]
  }
  
  .ff{

    @apply flex justify-end 
  }
  
  .forgot-password {
    font-size: 13px;
    color: #ff0000;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .forgot-password:hover {
    color: #000000;
  }


  .sn{
    @apply flex justify-between items-center mt-5
  }

  .arrow{
    @apply text-blue-500 font-bold
  }

  h4{
    @apply text-[14px] text-gray-500 font-semibold
  }

  h5{
    @apply text-[15px] text-[#69ae69] font-semibold text-center 
  }

  img{

    @apply w-[25px] h-[25px]


  }


  h6{

    @apply text-[#ff0000]   text-[11px] 
  }

  .back{

    @apply text-blue-400 text-[15px]
  }

  .checkbox{

    @apply flex gap-2 items-center justify-start
  }

  .ckbox{
    @apply border-none w-[15px] h-[15px] outline-none
  }

  .remember h3{

    @apply text-[13px] text-green-600 font-medium
  }

  .akta{
    @apply flex justify-center items-center gap-5
  }

  .reg{

    @apply flex justify-center items-center mt-4
  }


.f {
  @apply flex gap-4
}

.sp{
  @apply border-none w-[15px] h-[15px] outline-none
}

.remember2 h3{

  @apply text-[13px] text-gray-700 font-medium
}

.checkbox1{

  @apply flex gap-1 items-center justify-end
}